<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mercuriy94.gameoflife.container.main">

    <application>

        <activity
            android:name=".presentation.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>